@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.shape{
  font-family: 'Miama', sans-serif;
  font-size: 6rem;
  font-weight: 900;
                                                
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .fa-solid ,.fa-check{
    color: white;

  }

  *{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  
    }
    
  body{

    background-color: black;
  
  }
  header{
    max-width:1530px;
 margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(185,185,185,0.3),rgba(119, 119, 119, 0) 100%);
  
  }
.hamburger-menu{
  display: none;
}
  
  .navbar{
    display: flex;
    justify-content: space-between;
    
    max-width: 1060px;
    margin: 0 auto;
    padding: 25px;
    align-items: center;
  }
  .nav-content{
    width: 465px;
height: 46px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding: 15px;
color: white;
justify-content:flex-start;
align-items: center;
padding: 4px;



  }
  .nav-title{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 2.25rem;
font-weight: 800;
 }
 
 .btn-home{
    border-radius: 46px;
background: rgb(230, 83, 60);
border: none;
width: 92px;
height: 38px;

color: white;
margin-right: 47px;
 }
 .nav-p{
    color: rgb(255, 255, 255);
font-size: 1.12rem;
margin-right: 47px;
 }
 .banner{
    max-width: 1060px;
    margin: 0 auto;
    
   
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   
    
 }
 .banner-content{
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    
    padding-top: 88px;
    
 }
 .ban-h3{
    color: rgb(255, 255, 255);
    font-size: 4.87rem;
    font-weight: 900;
 }
 .ban-p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
margin-top: 28px;
margin-bottom: 28px;
 }
 .join-btn{
    border-radius: 42px;
    width: 224px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 600;
padding: 16px;
border: none;

 }
 .down-btn{
    width: 224px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: transparent;
    color: rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 600;
padding: 16px;

 }
 .banner-img{
    width: 45%;
    align-items: center;
    position: relative;
    padding-left: 20px;  
  
 }
 
 .banner-img-content{
   width: 100%
  
 }
 .banner-img-content img{
   width: 100%
  
 }
 .rec-1{
  width: 206px;
  height: 96px;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(7px);
background: rgba(48, 48, 48, 0.54);
display: flex;
padding: 20px;
gap: 15px;
position:absolute ;
left:-15%;
top: 66%;

 }
 

 .dot {
    width: 40px;
   height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
  }
  .rec1-content h2{
    color: rgb(250, 250, 249);
font-size: 1.5rem;
font-weight: 900;
 }
  .rec1-content p {
    color: rgba(239, 237, 232, 0.65);
font-size: 1rem;

 }
 .rec-2{
  width: 193px;
  height: 98px;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);

padding: 17px;
position: relative;
top: -570px;
left: 258px; 

 }
  .rec-2 h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.25rem;
font-weight: 900;
text-align: left;
margin-left: 20px;
  }
  .rec-2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    font-weight: 400;
    
    text-align: left;
    margin-left: 20px;

  }
main > section{
  max-width:1040px;
  margin: 0 auto;
  

}
.habit-section{
  margin-top: 20px;
}
.habit-title{
  margin-bottom: 58px;
  
}
.habit-title h2{
  color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
text-align: center;
margin-bottom: 14px;
}
.habit-title p{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.87rem;
text-align: center;

}
.habit-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  
}
.card{
  margin-left: 40px;
  
}
.card-text{
  text-align: center;
}
.card-text h5{
  color: rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 600;
margin-bottom: 8px;
}
.card-text p{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.87rem;
font-weight: 400;

}
.card-img{
  
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.card-img img{
  width: 100%;
  border: 2px solid gray;
  border-radius: 50%;
}
.extra-mile-container{
  margin-top: 100px;
  
  
  
}
.extra-mile{
  border-radius: 18px;
 
background: rgb(34, 34, 34);
  display: flex;
  justify-content: space-between;
  padding: 25px;
  text-align: left;
}
.extra-mile-content{
  width: 55%;
}
.extra-mile-img{
  width: 40%;
}
.extra-mile-img img{
  border-radius: 18px;
  width: 100%;
}
.extra-h2{
  width: 400px;
  height: 116px;
  color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;

}
.extra-p{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.875rem;
font-weight: 400;
width: 420px;
height: 72px;
margin-top: 15px;

}
.bmi-container{
  max-width: 672px;
  margin: 0 auto;
  margin-top: 78px;
}

.bmi-content h2{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.5rem;
font-weight: 900;
}
.bmi-content p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87;
margin-top: 14px;

}
.team-container{
  margin-bottom: 88px;
}
.BMI-calculator{
  max-width: 1530px;
  margin: 0 auto;
  background: rgb(34, 34, 34);
  padding: 50px 20px;
  margin-top: 88px;
  margin-bottom: 88px;

}
.bmi-h3{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.75rem;
text-align: left;
margin-bottom: 52px;
}
.bmi-H3{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.75rem;
  text-align: left;
  margin-bottom: 15px;
 
}
.bmi-p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
text-align: left;
width: 577px;
margin-bottom: 34px;
}
table{
  border-collapse: collapse;
}
td{
   border: 1px solid rgba(255, 255, 255, 0.1);
   padding: 13px 18px;
   color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
text-align: left;
}
th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 13px 18px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1rem;
font-weight: 500;
text-align: left;


}
.BMI-calculator-content{
  display: flex;
  justify-content: space-around;
}


input,#sex{
  width: 282.5px;
height: 48px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
margin-bottom: 12px;
align-items: center;
padding: 12px 40px 12px 20px;
color: rgba(255, 255, 255, 0.6);
text-align: left;

}
#activity{
  width: 570px;
height: 48px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.6);
font-family: Inter;
align-items: center;
padding: 12px 20px 12px 20px;
text-align: left;
border: none;
}
 .input-div{
  margin-bottom: 35px;
 }
 
 .team-content{
  max-width: 671px;
  margin: 0 auto;
  text-align: center;

  
  
 }
 .team-content h2{
  color: rgb(255, 255, 255);
  font-size: 3rem;
  font-weight: 900;
  margin-bottom: 14px;
  
 }
 .team-content p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
line-height: 30px;
 }
 .card-container{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  border-radius: 18px;
background: rgba(255, 255, 255, 0.1);
padding: 20px;
gap: 10px;
margin-top: 30px;
 }
 .team-card{
  width: 326.67px;
height: 272px;
  border-radius: 18px;
background-color: rgba(0, 0, 0, 0.2);
background-image:url(../images/trainer1.png);
background-position: center;
background-repeat: no-repeat;
background-size: cover;
background-blend-mode: overlay;
position: relative;
 }
 .team-card2{
  background-image:url(../images/trainer2.png);
 }
 .team-card3{
  background-image:url(../images/trainer3.png);
 }
 .team-card4{
  background-image:url(../images/trainer4.png);
 }
 .team-card5{
  background-image:url(../images/trainer5.png);
 }
 .team-card6{
  background-image:url(../images/trainer6.png);
 }
 .team-name{
  padding: 10px;
  position: absolute;
  bottom: 0;
  left: 0;
 }
 .team-name h5{
  color: rgb(255, 255, 255);
  font-size: 1rem;
 }
 .team-name p{
  color: rgba(255, 255, 255, 0.5);
  font-size: 0.87rem;
 }
 footer{
  max-width: 1530px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
 }
 .footer-container{
  max-width: 1059px;
  margin: 0 auto;
  display: flex;
justify-content: space-around;
text-align: left;
align-items: center;
padding-top: 60px;
padding-bottom: 60px;
 }
 .foot-fitness h2{
  color: rgb(230, 83, 60);
  font-family: Inter;
  font-size: 4rem;
  font-weight: 800;
  margin-bottom: 20px;
  
 }
 .foot-fitness p{
  width: 443px;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
 }
 .get-div h4{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.5rem;
font-weight: 700;
margin-bottom: 30px;
 }
 .get-div li{
list-style: none;
margin-bottom: 15px;
color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1.43rem
 }
 hr{
  max-width: 1059.5px;
  margin: 0 auto;
  border: 2px solid rgba(255, 255, 255, 0.1);
 }
 .reserved{
  max-width:320px;
  margin: 0 auto;

 }
 .reserved p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 1.25rem;
font-weight: 400;
padding-top: 35px;
padding-bottom: 35px;


 }
 .pricing{
  margin-bottom: 60px;
 }
 .price-content{
  display: grid;
  grid-template-columns: repeat(3,1fr);
  
  padding: 30px;
  gap: 30px;
  margin-top: 20px;
 }
 .price-title p{
  margin-top: 30px;
 }
 .price-card{
  
  text-align: center;
  border: 2px solid gray;
  border-radius:18px ;
  backdrop-filter: blur(7px);
background: rgba(91, 89, 89, 0.54);
box-shadow: rgba(205, 205, 224, 0.2) 0px 7px 29px 0px;

 }
 .price-card h4{
  color: rgb(255, 255, 255);
  font-familcolory: Inter;
  font-size: 1.5rem;
  margin-top: 15px;
  margin-bottom: 15px;

 }
 .hr2{
  width: 100%;
  border: 2px solid white;
 }
 .hr3{
  width: 90%;
  margin: 0 auto;
  border: 1px solid gray;
 }
 .price-card h3{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.75rem;
  margin-top: 10px;
  margin-bottom: 15px;
 }
 .per{
  font-size: 0.87rem;
  color: rgba(255, 255, 255, 0.5);
 }
 .price-card li{
  color: rgba(255, 255, 255, 0.5);
  
  font-family: Inter;
  font-size: 1.43rem;
  text-align: left;
  list-style: none;
  margin-bottom: 10px;
  padding: 10px;
 }
 #card-btn{
  margin-top:88px ;
 }
 .price-card button{
margin-top: 30px;
margin-bottom: 20px ;

 }

  @media screen and (max-width:576px) {
    /*header section styles starts here*/
    header{
      
      width:575px;
   margin: 0 ;
      background: linear-gradient(180.00deg, rgb(185,185,185,0.3),rgba(119, 119, 119, 0) 100%);
      
      
    }
    .nav-content{
      display: none;
    }
    .hamburger-menu{
      display: block;
    }
    .banner{
     flex-direction: column;
    gap: 30px;
    width: 100%;
   
}
.banner-content{
  width: 100%;
  margin: 0 auto;
  justify-content: center;
  align-items: center;
  text-align:left ; 
  
  padding: 20px;
   }
   .div-btn{
    width: 100%;
    
   }
   .div-btn button{
    width: 47%;
    margin: 0 5px; 
   }
   
.ban-h3{
  width:70%;
  font-size: 3rem;
  
}
.shape{
  font-size: 4rem;
  font-weight: 900;                                               
}
.ban-p{
  width: 80%;
  text-align: justify;
}
.banner-img{
  width: 100%;
  margin: 0 auto;
  
}
.banner-img img{
  width: 100%;
  
}
.rec-1{
top: 45%;
left:5%;
width: 200px;
height: 90px;
display: flex;
align-items: center;

 }

 .dot {
  width:40px;
 height: 40px;
}

.rec1-content h2{
  font-size: 1.87rem;
font-weight: 900;
margin-bottom: 5px;

}
.rec1-content p {
  font-size: 0.87rem;
}
 
 .rec-2{
  top: -830px;
left: 300px;
width: 200px;
height: 90px;
text-align: left;
padding-left: 5px;

 }
 .rec-2 h3{
font-size: 1.87rem;
}
.rec-2 p{
  font-size: 0.87rem;
}
 /*header section styles ends here*/
  /*Change your habit section styles starts here*/
.habit-section{
  width:575px;
  
 margin: 0 auto;
}


 .habit-content{
  grid-template-columns: repeat(1,1fr);
  
  width: 575px;
 
  margin: 0 auto;
  gap: 40px;
}
 .card{
 
  width: 450px;
  margin: 0 auto;
}
.card-img{
  display: flex;
  align-items: center;
}
 .card img{
  
  width: 70%;
}
.card-text p{
  width: 50%;
  margin: 0 auto;
  text-align: center;
}
/*Change your habit section styles ends here*/
.extra-mile-container{
  width: 575px;
  margin: 0 auto;
padding: 30px 33px;

margin-top: 50px;
margin-bottom: 50px;
}

.extra-mile{
  flex-direction: column;
  gap: 30px;
  align-items: center;
 
  width: 100%;
  margin: 0 auto;
  }
 .extra-mile-content{
   width: 90%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
 }

 .extra-h2{
  width: 100%;
height: auto;
  font-size: 2rem;
  

}
 .extra-p{
width: 90%;
margin-bottom:;

}
#join-btn2{
width: 100%;
}
.extra-mile-img{
  width: 90%;
}
.bmi-container{
  width: 575px;
  margin: 0 auto;

}

.bmi-content{
  width: 90%;
  margin: 0 auto;
}
.bmi-container h2{
 font-size: 2rem;
}
.BMI-calculator{
  
  width: 575px;
  margin: 0 auto;
  margin-top: 36px;
  margin-bottom: 66px;
  justify-content: flex-start;
  align-items: center;
  
  

}
.BMI-calculator-content{
  flex-direction: column;
  gap: 30px;
  padding-left: 10px;
  padding-right: 10px;
 
}
.chart-div{
  width:90%;
}
.chart-div h3{
  font-size: 1.5rem;
}
table{
  width: 100%;
}

.right-bmi-content{
width: 100%;
}
.right-bmi-content h3{
width: 100%;
font-size: 1.5rem;

}
.right-bmi-content p{
width: 75%;

}
input,#sex{
 width: 48%;
  height: auto;


}
#activity{
width: 97%;
  height: auto;
}
#cal-btn{
  width: 224px;
}
.team-container{
    max-width:575px; 
   margin: 0 auto;
}

.team-content{
  max-width: 80%;
margin: 0 auto;
   
}
 .team-content h2{
  font-size: 2rem;
 }
 

.card-container{
  grid-template-columns: repeat(1,1fr);
  margin-top: 37px;
  width:500px;
  margin-left: 20px;
  margin-right: 20px;
  justify-content: flex-start;
align-items: center;

}



.team-card{
  width: 400px;
  height: 350px;
  margin: 0 auto;
  margin-top:20px ;
  
}
  
.team{
  width: 575px;
  margin: 0 auto;
  display: flex;
flex-direction: column;
align-items: center;

margin-bottom: 50px;
}
.pricing{
width: 575px;
margin: 0 auto;
}
.price-title p{
  width: 80%;
  margin: 0 auto;
  line-height: 25px;
  
}
.price-content{
  grid-template-columns: repeat(1,1fr);
  padding: 30px;
  gap: 30px;
  margin-top:-50px;
  
 }
 .price-card button{
  width: 80%;

  
   }

footer{
  width: 575px;
  margin: 0 auto;
  background: rgba(255, 255, 255, 0.1);
}
  
.footer-container{
  max-width: 1059px;
  margin: 0 auto;
  display: flex;
flex-direction: column;
align-items: flex-start;
text-align: left;

padding-top: 60px;
padding-bottom: 60px;  
padding-left: 20px;
padding-right: 20px;

 }
 .foot-fitness p{
  max-width: 317px;
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
 }
 hr{
  width: 450px;
 }
 .get-div h4{
margin-top: 30px;

}

}
  