@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100..900&display=swap');
@import url('https://fonts.cdnfonts.com/css/miama');
.shape{
  font-family: 'Miama', sans-serif;
  font-size: 6rem;
  font-weight: 900;
                                                
}
.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
    font-style: normal;
    font-variation-settings:
      "slnt" 0;
  }
  .fa-solid {
    color: white;

  }
  *{
    margin: 0;
    padding: 0;
   box-sizing: border-box;
  
    }
    
  body{

    background-color: black;
  }
  header{
    max-width:1530px;
 margin: 0 auto;
    background: linear-gradient(180.00deg, rgb(185,185,185,0.3),rgba(119, 119, 119, 0) 100%);
   
   
  }
.hamburger-menu{
  display: none;
}
  
  .navbar{
    display: flex;
    justify-content: space-between;
    
    max-width: 1060px;
    margin: 0 auto;
    padding: 25px;
    align-items: center;
  }
  .nav-content{
    width: 465px;
height: 46px;
    display: flex;
    border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 39px;
padding: 15px;
color: white;
justify-content:flex-start;
align-items: center;
padding: 4px;



  }
  .nav-title{
    color: rgb(230, 83, 60);
font-family: Inter;
font-size: 2.25rem;
font-weight: 800;
 }
 
 .btn-home{
    border-radius: 46px;
background: rgb(230, 83, 60);
border: none;
width: 92px;
height: 38px;

color: white;
margin-right: 47px;
 }
 .nav-p{
    color: rgb(255, 255, 255);
font-size: 1.12rem;
margin-right: 47px;
 }
 .banner{
    max-width: 1060px;
    margin: 0 auto;
    
   
    display: flex;
    justify-content: space-between;
    margin-top: 50px;
   
    
 }
 .banner-content{
    width: 50%;
    justify-content: flex-start;
    align-items: flex-start;
    
 }
 .ban-h3{
    color: rgb(255, 255, 255);
    font-size: 4.87rem;
    font-weight: 900;
 }
 .ban-p{
    color: rgba(255, 255, 255, 0.5);
font-size: 1rem;
margin-top: 28px;
margin-bottom: 28px;
 }
 .join-btn{
    border-radius: 42px;
    width: 224px;
background: rgb(230, 83, 60);
color: rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 600;
padding: 16px;
border: none;

 }
 .down-btn{
    width: 224px;
    box-sizing: border-box;
    border: 1px solid rgb(255, 255, 255);
    border-radius: 42px;
    background-color: transparent;
    color: rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 600;
padding: 16px;

 }
 .banner-img{
    width: 45%;
    align-items: center;
    position: relative;
    padding-left: 20px;  
 }
 
 .banner-img-content img{
   width: 100%
   height: 100%;
   
   
 }
 .rec-1{
  width: 206px;
  height: 96px;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;

backdrop-filter: blur(10px);
background: rgba(48, 48, 48, 0.54);
display: flex;
padding: 20px;
gap: 15px;
position:absolute ;
left: -90px;
top: 420px;

 }
 

 .dot {
    width: 40px;
   height: 40px;
    background: rgb(230, 83, 60);
    border-radius: 50%;
    display: inline-block;
  }
  .rec1-content h2{
    color: rgb(250, 250, 249);
font-size: 1.5rem;
font-weight: 900;
 }
  .rec1-content p {
    color: rgba(239, 237, 232, 0.65);
font-size: 1rem;

 }
 .rec-2{
  width: 193px;
  height: 98px;
  box-sizing: border-box;
border: 1px solid rgba(255, 255, 255, 0.1);
border-radius: 12px;
backdrop-filter: blur(20px);
background: rgba(255, 255, 255, 0.1);

padding: 17px;
position: relative;
top: -450px;
left: 200px;

 }
  .rec-2 h3{
    color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.25rem;
font-weight: 900;
text-align: left;
margin-left: 20px;
  }
  .rec-2 p{
    color: rgba(255, 255, 255, 0.65);
    font-size: 0.81rem;
    font-weight: 400;
    
    text-align: left;
    margin-left: 20px;

  }
main > section{
  max-width:1040px;
  margin: 0 auto;
  

}
.habit-title{
  margin-bottom: 58px;
  
}
.habit-title h2{
  color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;
text-align: center;
margin-bottom: 14px;
}
.habit-title p{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.87rem;
text-align: center;

}
.habit-content{
  display: grid;
  grid-template-columns: repeat(4,1fr);
  gap: 15px;
  
}
.card{
  margin-left: 40px;
}
.card-text{
  text-align: center;
}
.card-text h5{
  color: rgb(255, 255, 255);
font-size: 1.12rem;
font-weight: 600;
margin-bottom: 8px;
}
.card-text p{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.87rem;
font-weight: 400;

}
.card-img{
  
  justify-content: center;
  align-items: center;
  margin-bottom: 30px;
}
.card-img img{
  width: 100%;
  border: 2px solid gray;
  border-radius: 50%;
}
.extra-mile-container{
  margin-top: 100px;
  border-radius: 18px;
  background-color:  rgb(34, 34, 34);;
}
.extra-mile{
  display: flex;
  justify-content: space-between;
  padding: 25px;
  text-align: left;
}
.extra-mile-content{
  width: 55%;
}
.extra-mile-img{
  width: 40%;
}
.extra-mile-img img{
  border-radius: 18px;
  width: 100%;
}
.extra-h2{
  width: 400px;
  height: 116px;
  color: rgb(255, 255, 255);
font-size: 3rem;
font-weight: 900;

}
.extra-p{
  color: rgba(255, 255, 255, 0.5);
font-size: 0.875rem;
font-weight: 400;
width: 420px;
height: 72px;
margin-top: 15px;

}
.bmi-container{
  max-width: 672px;
  margin: 0 auto;
 
  margin-top: 78px;
}

.bmi-content h2{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 2.5rem;
font-weight: 900;
}
.bmi-content p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87;
margin-top: 14px;

}
.BMI-calculator{
  max-width: 1530px;
  margin: 0 auto;
  background: rgb(34, 34, 34);
  padding: 50px 20px;
  margin-top: 88px;
}
.bmi-h3{
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1.75rem;
text-align: left;
margin-bottom: 52px;
}
.bmi-H3{
  color: rgb(255, 255, 255);
  font-family: Inter;
  font-size: 1.75rem;
  text-align: left;
  margin-bottom: 15px;
 
}
.bmi-p{
  color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
text-align: left;
width: 577px;
margin-bottom: 34px;
}
table{
  border-collapse: collapse;
}
td{
   border: 1px solid rgba(255, 255, 255, 0.1);
   padding: 13px 18px;
   color: rgba(255, 255, 255, 0.5);
font-family: Inter;
font-size: 0.87rem;
text-align: left;
}
th{
  border: 1px solid rgba(255, 255, 255, 0.1);
  padding: 13px 18px;
  color: rgb(255, 255, 255);
font-family: Inter;
font-size: 1rem;
font-weight: 500;
text-align: left;


}
.BMI-calculator-content{
  display: flex;
  justify-content: space-around;
}

input,#sex{
  width: 282.5px;
height: 48px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
border: none;
margin-bottom: 12px;
align-items: center;
padding: 12px 40px 12px 20px;
color: rgba(255, 255, 255, 0.6);
text-align: left;

}
#activity{
  width: 570px;
height: 48px;
border-radius: 8px;
background: rgba(255, 255, 255, 0.1);
color: rgba(255, 255, 255, 0.6);
font-family: Inter;
align-items: center;
padding: 12px 20px 12px 20px;
text-align: left;
border: none;
}
 .input-div{
  margin-bottom: 35px;
 }

  @media screen and (max-width:576px) {
    .nav-content{
      display: none;
    }
    .hamburger-menu{
      display: block;
    }
    .banner{
     flex-direction: column;
    gap: 150px;
}
.banner-content{
  width: 352px;
  justify-content: center;
  align-items: center;
  text-align:left ; 
  margin-left: 20px;
   }
.ban-h3{
  width: 285px;
  font-size: 2.25rem;
  line-height: 150%;
}
.shape{
  font-size: 5rem;
  font-weight: 900;                                               
}
.ban-p{
  text-align: left;
}
.div-btn{
  display: flex;
  gap: 8px; 
}
#join-id{
  width: 165px;
  
}
.rec-1{
top: 36%;
left:5%;
width: 155.74px;
height: max-content;
 }

 .dot-div{
  width: 30.24px;
 
 }
 .dot {
  width:30px;
 height: 30px;
}

.rec1-content h2{
font-size: 1rem;
font-weight: 900;
margin-bottom: 5px;
}
.rec1-content p {
  width: 82px;
font-size: 0.70rem;

}
 
 .rec-2{
  top: -540px;
left: 180px;
width: 145px;
height: max-content;

padding-left: 0;

 }
 .rec-2 h3{
font-size: 1.87rem;
}
.rec-2 p{
  font-size: 0.56rem;
}

 .habit-content{
  grid-template-columns: repeat(1,1fr);
  margin-right: 50px;
}
.extra-mile-container{
margin-left: 20px;
margin-right: 20px;

}
.extra-mile{
  flex-direction: column;
  gap: 30px;
  justify-content: center;
  align-items: center;
  padding: 10px 5px;
 }
.extra-mile-content{
  width: 287px;

 }
 .extra-h2{
  
  width: 287px;
height: 76px;
  font-size: 2rem;
  margin-top: 30px;

}
 .extra-p{
width: 280px;
margin-bottom: 25px;

}
#join-btn2{
width: 287px;
}
.extra-mile-img{
width: 287px;
}
.bmi-container{
 margin-left: 20px;
 margin-right: 20px;
}
.bmi-container h2{
 font-size: 2rem;
}
.BMI-calculator-content{
 flex-direction: column;
 gap: 50px;
 
}

.bmi-p{
  width: 346px;
}
.right-bmi-content{
  width: 354px;
}
input,#sex{
  width: 170.5px;
  height: 48px;


}
#activity{
  width: 347px;
  height: 48px;
}
#cal-btn{
  width: 224px;
}
}
  